

@media (max-width: 1440px) {
  .footer {
    width: 100%;
    font-size: 26px;
  }

}
@media (max-width: 1080px) {
  .footer {
    width: 100%
    font-size: 24px;
  }

}
@media (max-width: 960px) {
  .footer {
    width: 100%;
    font-size: 20px;   
  }


}
@media (max-width: 700px) {
  .footer {
    width: 100%;
    font-size: 18px;   
  }

}
@media (max-width: 600px) {
  .footer {
    
    width: 100%;
    font-size: 15px;    
  }

}
@media (max-width: 500px) {
  .footer {
    
    width: 100%;
    font-size: 13px;    
  }

}
@media (max-width: 400px) {
  .footer {
    
    width: 100%;
    font-size: 12px;    
  }

}

.newsletter{
	padding:30px;
}

.newsletter, .newsletter-header, .newletter-survey, .newletter-submit  {

	align-items: center;
	text-align: center;





}
.newsletter-header{
	text-align: center;
	padding: 30px;
	border-radius: 6px;



}

.newletter-survey, .newletter-submit {

	align-items: center;
	display: inline;
	justify-content: space-between;



}

input, select
{
font-size: 30px;
font-family: roboto;
border-radius: 6px;
}

.newletter-submit a:hover{
	background-color: white;
	color: white;
}
h1 {
	font-weight: bold;
	color: white;
}
p {
	color: white;
	font-size: 18px;
}
